$border-radius: 10px;
$border-color: #aaa;
$padding: 10px;

.popover-inner {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: #fff;
  width: 350px;

  &__header {
    background-color: #ccc;
    border-radius: $border-radius $border-radius 0 0;
    padding: $padding;
  }

  &__body {
    padding: $padding;
  }

  &__controls {
    padding: $padding;
  }
}

.popover-arrow {
  height: 0;
  width: 0;
  border: solid $border-color;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
  background-color: #ccc;
}
